body {
    text-align: center;
}

h1 {
    font-size: 50px;
    font-family: 'Cinzel', serif;
}

#app {
    background-color: aquamarine;
    height: 900px;
    width: 100%;
    left: 0;
    top: 0;
}

img {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: transform .2s;
    margin-top: 35px;
}

img:hover {
    transform: scale(0.9);
}

#game {
    background-color: lightcoral;
    height: 800px;
    width: 100%;
}

.line {
    margin: 8px auto;
    width: 75px;
    height: 6px;
    background-color: darkslategrey;
}

#chatbot {
    background-color: aquamarine;
    height: 800px;
    width: 100%;
}

.container {
    text-align: center;
}

.carousel-inner {
    margin-bottom: 15px;
    margin-top: 15px;
    color: yellowgreen;
    font-size: 25px;
}
